.TextContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 100px;
}

.Navbar {
  display: flex;
  margin: 0 auto;
  width: max-content;
  margin-top: 50px;
}

.NavbarButton {
  padding: 8px 12px;
  border-right: 1px solid rgba(128, 128, 128, 0.15);
  cursor: pointer;
  font-size: 14px;
}

.NavbarButton:first-child {
  color: white;
  background-color: #8950c0;
}

.NavbarButton:last-child {
  border: 0px;
}

.MainContent {
  width: clamp(1px, 100%, 1250px);
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  gap: 40px;
}

.LeftSide {
  width: 350px;
  height: 550px;
  background-color: #8950c0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.LeftMiniTitle {
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 1000px;
  font-size: 10px;
  padding: 3px 9px;
}

.LeftTitle {
  font-weight: 600;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.LeftList {
  border-top: 1px solid rgba(167, 100, 233, 0.64);
  border-bottom: 1px solid rgba(167, 100, 233, 0.64);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.FirstChild {
  margin-top: 50px;
}

.LastChild {
  margin-bottom: 50px;
}

.LeftList > * {
  text-align: left;
  width: 200px;
  font-size: 13px;
  overflow: visible;
}

.LeftButtons {
  display: flex;
  margin-bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.Demo {
  border-radius: 8px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.DemoCircle {
  border-radius: 999px;
  width: 6px;
  height: 6px;
  background-color: black;
  margin-top: 1px;
}

.Case {
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.RightSide {
  height: 550px;
  width: clamp(1px, 100%, 750px);
}

.RightButtons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.RightButtons > * {
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}

.ButtonProgress {
  background-color: #ece0f8;
}

.ButtonManagement {
  background-color: #f3c8c9;
}

.ButtonReport {
  background-color: #def3c9;
}

.ButtonMeeting {
  background-color: #d8ddf6;
}

.PicturesContainer {
  border: 1px solid rgba(128, 128, 128, 0.236);
  border-radius: 8px;
  align-items: center;
  float: right;
  margin-right: 50px;
  margin-top: 80px;
  display: flex;
  gap: 10px;
}

.Picture:first-child {
  margin-left: 10px;
}

.Picture:last-child {
  margin-right: 10px;
}

.PicturesContainer > * {
  border-radius: 8px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  background-color: white;
  font-weight: 500;
  font-size: 21px;
}

.PicturePic {
  width: 100%;
  height: 100%;
}

.AnalysisContainer {
  background-color: #c050a7;
  height: 60px;
  width: 350px;
  margin-top: 275px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin-left: 100px;
}

.AnalysisLeft,
.AnalysisRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
}

.AnalysisClock {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.AnalysisTextContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.AnalysisUpperText {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.AnalysisDateDate {
  font-size: 8px;
}

.AnalysisRightPicture {
  width: 47px;
  height: 47px;
  border-radius: 4px;
}

.AnalysisRightDots {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.AnalysisRightDot {
  background-color: white;
  border-radius: 9999px;
  height: 2px;
  width: 2px;
}

.UserFlowContainer {
  background-color: #6d73ff;
  height: 60px;
  width: 350px;
  margin-top: 75px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

@media (max-width: 1350px) {
  .RightButtons > * {
    padding: 10px clamp(10px, 2vw, 25px);
    font-size: clamp(11px, 1vw, 13px);
  }
}

@media (max-width: 1100px) {
  .LeftButtons {
    flex-direction: column;
    gap: 15px;
  }

  .LeftSide {
    height: 580px;
  }

  .Demo {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .MainContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  .Navbar {
    margin-top: -25px;
  }
}

@media (max-width: 550px) {
  .NavbarButton {
    font-size: clamp(12px, 2.5vw, 14px);
    padding: 7px 10px;
  }
  .RightButtons > * {
    padding: 8px clamp(8px, 2vw, 15px);
    font-size: clamp(9px, 2vw, 13px);
    border-radius: 4px;
  }
  .RightButtons {
    gap: 8px;
    flex-wrap: wrap;
    width: clamp(1px, 100%, 500px);
  }
}
