.HighLightPurple {
  background: #7c12cf;
  background: linear-gradient(to bottom, #7c12cf 0%, #a10eb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HighLightSemiPurple {
  background: #a00eb9;
  background: linear-gradient(to bottom, #7413d4 0%, #de0691 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HighLightRed {
  background: #b40bab;
  background: linear-gradient(to bottom, #b40bab 0%, #d50897 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Bolded {
  font-weight: 600;
}

.Container {
  display: flex;
  width: clamp(1px, 100vw, 1920px);
  height: max-content;
  justify-content: space-between;
}

.Side {
  height: 100%;
  width: 50px;
  position: relative;
}

.Main {
  width: clamp(1px, 90%, 1920px);
  z-index: 9999;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionTitle {
  font-weight: 500;
  font-size: clamp(35px, 5.2vw, 45px);
  text-align: center;
  line-height: clamp(40px, 5.2vw, 45px);
  width: clamp(1px, 95%, 465px);
}

.TextUnderline {
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.TinyTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.ContextAligned {
  width: clamp(1px, 95%, 500px);
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.Context {
  /* width: clamp(1px, 95%, 500px); */
  width: clamp(1px, 95%, 405px);
  line-height: 24px;
  font-size: 14px;
  backdrop-filter: blur(5px);
}
