.Circle {
  border-radius: 584px;
  background: radial-gradient(
    50.11% 50.11% at 50% 49.89%,
    #7b13d080 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 1000px;
  width: 1000px;
  border-radius: 1000px;
  position: absolute;
  right: -30vw;
  z-index: 0;
}
