.Container {
  height: 100%;
  width: clamp(1px, 28vw, 400px);
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-radius: 8px;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: default;
  margin: 0 auto;
}

.Container > * {
  margin: 0px 15px;
}

.NameContainer {
  display: flex;
  margin: 30px auto;
  width: max-content;
  gap: 15px;
}

.Name {
  font-weight: 700;
  font-size: 25px;
}

.Position {
  font-weight: 500;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 1px;
  color: rgb(87, 87, 87);
}

.Context {
  font-size: 11.5px;
  margin-bottom: 30px;
  line-height: 21px;
}

.Rating {
  display: flex;
  gap: 5px;
  border-left: 2px solid rgba(128, 128, 128, 0.15);
  padding-left: 10px;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 1620px) {
  .Container {
    width: clamp(1px, 21vw, 400px);
  }
}

@media (max-width: 1020px) {
  .Container {
    width: clamp(1px, 40vw, 400px);
  }
}

@media (max-width: 700px) {
  .Container {
    width: 90%;
  }
}
