.ellipse-one {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    pointer-events: none;
}

.ellipse-two {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
}

h1 {
    color: #ffffff;
    font-size: 5rem;
    width: 70%;
}
p {
    width: 60%;   
}
a {
    color: #ffffff;
}

.phones-image {
    margin-right:2rem;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:2rem;
}
.booking-grid {
    display: grid;
    grid-template-columns: .3fr .3fr;
    justify-content: start;
    align-items: center;
    margin-top:2rem;
    
}
.logos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}