.graph-card{
    position: absolute;
    background-color: #010205;
    border-radius: 60px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.card-ellipse{
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    size: 80%;
    transform: translate(-15%, -20%);
    z-index: -1;
    pointer-events: none;
}

.graph-card-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 20px;
    z-index: 2;
}

.line-1{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.line-2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}